---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>If you are already an owner</h2>
			<p>
				We will ensure that your property is taken care of in the best possible way.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Rent your property as a coliving" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Rent your property on Airbnb" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Classical rental" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Sell your property" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>So, you want to invest in Real Estate</h2>
			<p>
				Let us help you succeed in Real Estate investment - Expert guidance for finding the best properties and navigating legal compliance.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="Find a property" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/company/contact" title="List your property" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/blog/" title="Property renovation" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					title="Legal counseling"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
				
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Explore our amazing properties</h2>
			<p>Find your next home. For the next years... or weeks.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Comming soon"
				>
				</FeatureCard>
				
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
